.red {
  border: 2px solid red;
}
#lentele {
  width: 100%;
  border: 1px solid #ccc;
  margin-top: 2rem;
}

#lentele th {
  font-weight: 600;
  border-bottom: 1px solid #ccc;
  text-align: left;
}
.pasleptaLentele {
  display: none;
}
#jquery {
  color: green;
  transition: all 1s ease-in-out;
}
.raudona {
  background-color: yellow;
}
#jqlentele {
  width: 100%;
  border: 1px solid #ccc;
  margin-top: 2rem;
}

#jqlentele th {
  font-weight: 600;
  border-bottom: 1px solid #ccc;
  text-align: left;
}

.raudona7 {
  color: red;
}
.melyna7 {
  color: blue;
}
.zalia7 {
  color: green;
}
